@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 17% 17%;
    --foreground: 210 40% 98%;

    --card: 220 17% 20%;
    --card-foreground: 210 40% 98%;
 
    --popover: 220 17% 17%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 220 17% 25%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 220 17% 30%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 199 89% 48%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 17% 30%;
    --input: 220 17% 30%;
    --ring: 199 89% 48%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}